{namespace webcharts.ui.home}

/**
  * The main content.
  * @param logDescription
  */
{template .mainContent}
<section id="section-home">
	<ul>
		<li id="li-logo-big" class="horizontal">
			<a id="logo-big" href="">WebCharts</a>
			<span id="logo-description">{$logDescription}</span>
		</li>
		<li class="horizontal"><img src="images/home-pic.PNG"></li>
	</ul>
</section>
{/template}